<div class="container" ng-controller="RankingsController">

    <div>
        <div class="btn-group btn-group-justified">
            <label ng-change="getRankings()" class="btn btn-primary" ng-model="matchup" btn-radio="'1'">1v1</label>
            <label ng-change="getRankings()" class="btn btn-primary" ng-model="matchup" btn-radio="'2'">2v2</label>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive col-sm-12">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <th class="text-center">Rank</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Ratio</th>
                    <th class="text-center">Wins</th>
                    <th class="text-center">Losses</th>
                    <th class="text-center">Total</th>
                </tr>
                <tr ng-repeat="ranking in rankings">
                    <td class="text-center">{{ ranking.denseRank }}</td>
                    <td class="text-center">{{ ranking.userName }}</td>
                    <td class="text-center">{{ ranking.wins / ranking.total | percentage:2 }}</td>
                    <td class="text-center">{{ ranking.wins }}</td>
                    <td class="text-center">{{ ranking.losses }}</td>
                    <td class="text-center">{{ ranking.total }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="alert alert-info col-sm-12">
        <p class="info">Total {{rankings.length}} players on current Beep Pong</p>
    </div>

</div>
