<div ng-controller="statsController">
    <h1>{{ message }}</h1>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>Id</th>
            <th>Player</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
        <tr ng-repeat="s in playerStats">
            <td>{{ s.id }}</td>
            <td>{{ s.losingPlayer }}</td>
            <td>{{ s.wins }}</td>
            <td>{{ s.losses }}</td>

        </tr>

    </table>


    <button ng-click="getStats()">Get Stats</button>

</div>